<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.lx.framework">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        >

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.lx.framework.base.ContainerActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="com.lx.framework.crash.DefaultErrorActivity"
            android:process=":error_activity" />

        <provider
            android:name="com.lx.framework.crash.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />
    </application>

</manifest>
